<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Listado de Clientes</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>


<div class="container">
	<div th:if="${not #lists.isEmpty(customers)}">	
	<h2>Customers List</h2>
			<table class="table table-striped">
				<tr>
					<th>id</th>
					<th>firstname</th>
					<th>lastname</th>
					<th>email</th>
					<th>Creation Date</th>
					<th>Last Edition Date</th>
					<th>Delete Date</th>
					<th>User</th>
					<th>View</th>
					<th>Edit</th>
					<th>Delete</th>					

				</tr>
				<tr th:each="customer : ${customers}">
					<td th:text="${customer.id}"></td>
					<td th:text="${customer.Name}"></td>
					<td th:text="${customer.lastName}"></td>
					<td th:text="${customer.email}"></td>	
				    <td th:text="${customer.creationDate}"></td>
					<td th:text="${customer.editionDate}"></td>
					<td th:text="${customer.deleteDate}"></td>
					<!-- <td th:text="${customer.user.name}"></td> -->
				    <td><a th:href="${'/customer/show/' + customer.id}">View</a></td>	
					<td><a th:href="${'/customer/edit/' + customer.id}">Edit</a></td>
					<td><a th:href="${'/customer/delete/' + customer.id}">Delete</a></td>		
	
				</tr>			
			</table>
			<div><a th:href="${'/customer/new'}">New Customer</a></div>
	</div>
	
</div>

</body>
</html>