<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Spring Proyect Games</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"
          th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}">

    <script src="/webjars/jquery/1.11.1/jquery.min.js"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous" th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}"></script>
</head>
<body>


<div class="container">
	<div th:if="${not #lists.isEmpty(customers)}">	
	<h2>Customers List</h2>
			<table class="table table-striped">
				<tr>
					<th>id</th>
					<th>firstname</th>
					<th>lastname</th>
					<th>email</th>
					<th>Creation Date</th>
					<th>Last Edition Date</th>
					<th>Delete Date</th>
					<th>User</th>
					<th>View</th>
					<th>Edit</th>
					<th>Delete</th>					

				</tr>
				<tr th:each="customer : ${customers}">
					<td th:text="${customer.id}"></td>
					<td th:text="${customer.Name}"></td>
					<td th:text="${customer.lastName}"></td>
					<td th:text="${customer.email}"></td>	
				    <td th:text="${customer.creationDate}"></td>
					<td th:text="${customer.editionDate}"></td>
					<td th:text="${customer.deleteDate}"></td>
					<!-- <td th:text="${customer.user.name}"></td> -->
				    <td><a th:href="${'/customer/show/' + customer.id}">View</a></td>	
					<td><a th:href="${'/customer/edit/' + customer.id}">Edit</a></td>
					<td><a th:href="${'/customer/delete/' + customer.id}">Delete</a></td>		
	
				</tr>			
			</table>
			<div><a th:href="${'/customer/new'}">New Customer</a></div>
	</div>
	
</div>

</body>
</html>